.__app-title {
  margin-left: 3%;
}

.__app-right {
  width: 60%;
  height: 100%;
  padding-top: 30px;
  padding-left: 38px;
}

.__add-btn {
  width: 10%;
  margin-left: 10px;
  margin-top: 2px;
  border: none;
  outline: none;
  color: white;
  background-color: #00717e;
  font-size: 15px;
  font-weight: 700;
  height: 38px;
  cursor: pointer;
  border-radius: 10px;
}

.__submit-btn {
  margin-left: 30px;
  width: 10%;
  /* margin-top: 10px; */
  margin-right: 20;
  border: none;
  outline: none;
  color: white;
  background-color: #00717e;
  font-size: 15px;
  font-weight: 700;
  height: 38px;
  cursor: pointer;
  border-radius: 10px;
}

.__app-inputBox {
  position: relative;
  display: flex;
  flex-direction: row;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.__add-array {
  margin-left: 10%;
  margin-top: 7px;
}

.__app-inputBox input {
  width: 20%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  /* border: #00717e; */
  /* border-bottom: 1px solid rgb(80, 80, 80); */
  outline: auto;
  background: transparent;
}
.__app-inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(80, 80, 80);
  pointer-events: none;
  transition: 0.3s;
}

.__app-inputBox input:focus ~ label,
.__app-inputBox input:valid ~ label {
  top: -40px;
  left: 0;
  font-size: 12px;
}

.__app-submit-ptag {
  margin-right: 5%;
}
.__app-histry-title {
  margin-left: 3%;
}

.__app-table {
  width: 80%;
  margin-left: 10%;
}
